
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100px;
  background-color: #000;
}

header a {
  text-decoration: none;
  left: 20px;
  color: #fff;
}

h1 {
  font-size: 25px;
}

header ol li {
  color: #fff;
  display: inline-block;
  margin-right: 10px;
}

header ol li:first-child {
  color: #ff0000;
}
